*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* seletor global */


html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --purple: #7159C1;
    --yellow: rgb(243, 227, 6);
    --pink: #f3b4cb;
    --green: #72ad7c;


    font-size: 62.5%;
}

body{
    display: flex;
    height: 100%;
    
    background-repeat: no-repeat;
    background-color: var(--purple);
    background-size: 55rem 55rem;
    overflow-x: hidden;
   
}



body, h1 {
    font-family: 'Open Sans', sans-serif;
}

.main {
   
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
   
}

.main .background-img {
    width: 30rem;
    height: 30rem;
    position: relative;
    position: fixed;
    z-index: -111;
    left: 70%;
   
    /* animation: anim-background 10s;
    z-index: -9999; */


    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
    -webkit-animation-duration: 1s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;



   
}

.container{
    width: 605px;
    max-width: min(122rem, 95%);
    
    max-height: max(122rem, 95%);
    margin: 20px;
    background: var(--white);
    position: relative;
    border-radius: 01.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 
}

.img {
    width: 100%;
    height: 220px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
   

}

.img .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    min-width: 15.5rem;
    min-height: 15.5rem;
    border: 2px solid  var(--purple);
    border-radius: 100%;

    background-image: url("../img.jfif");

    background-repeat: no-repeat; /* Do not repeat the image */
    padding: .2rem;
   

    background-position: top;
    background-size: cover;
    background-clip: content-box;


    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    background-color: var(--color-avatar-bg);
    
    flex-shrink: 0;
    box-shadow: 0 0 0 1px var(--color-avatar-border);
}


    


.container .img h1{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(20px, 5vw, 1.8rem);
    
    color: var(--purple);
    margin-top: 1rem;
    border-bottom: 1px solid var(--purple);
    
  

}

.container .img h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--purple);
    margin-top: 1rem;
    font-size: 1.2rem;
}

.container .description {
    width: 90%;
    margin: auto;
    color: var(--purple);
    text-align: justify;
    padding: 1rem 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;

    
}

.links{
  max-width: min(112rem, 90%);
  height: 30rem;
  margin: auto;
  margin-top: 2rem;
}

.links .links-social {
    width: 100%;
    height: 5.5rem;
    margin-top: 1.5rem;
    border: 1px solid var(--purple);
    border-radius: 8px;
    display: flex;
    align-items: center;
    
}

.links .links-social a {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background: var(--purple);
    color: var(--white);
    font-size: 1.3rem;
    border-radius: 6px;
    
}

.links .links-social a:hover {

    background: var(--white);
    color: var(--purple);
    border-radius: 8px;
}

.links .links-social a img {
    width: 3.7rem;
    margin: 0 1.5rem 0 1rem;
}

#text {
    font-size: 1.6rem;
}







.container .qrcode {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 10rem;
    background: var(--purple);
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 1.9rem;
    border-radius: 8px;
    padding: 2rem;
}




.qrcode .img{
    
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 1.5rem;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    
   
}

.qrcode .img img {
    width: 100%;
    height: 100%;
    border: .2rem solid rgba(36, 36, 25, 0.514);
    border-radius: 50%;
    margin-top: -5rem;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;

}

.qrcode .img img:hover{
    -webkit-transform:scale(1.9);
     transform:scale(1.9);
     border-radius: 0%;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    border-radius: 8px 8px 80px;
    margin: 1rem auto;
   
}

footer .footer h3{
    color: var(--purple);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

footer .footer span{
    color: var(--black);
}

















