*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* seletor global */


html{
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --purple: #7159C1;
    --yellow: rgb(243, 227, 6);

    font-size: 62.5%;
}

body{
    display: flex;
    height: 100%;

    background: url("/Bibliophile-bro.svg");
    background-repeat: no-repeat;
    background-color: var(--purple);
    background-size: 55rem 55rem;
}



body, h1 {
    font-family: 'Open Sans', sans-serif;
}

.main {
   
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container{
    width: 605px;
    max-width: min(122rem, 95%);
    height: 80rem;
    
    margin: 20px;
    background: var(--white);
    position: relative;
    border-radius: 01.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   
    
}

.img {
    width: 100%;
    height: 220px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5rem;
   

}

.img .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    min-width: 13.5rem;
    min-height: 13.5rem;
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
}


.img .logo img {
    width: 100%;
    height: 100%;
    border: 2px solid  var(--purple);
    
    background-repeat: no-repeat; /* Do not repeat the image */
    padding: 2px;
    border-radius: 100%;
    
}
    


.container .img h1{
    font-family: 'Poppins', sans-serif;
    font-size: clamp(20px, 5vw, 1.8rem);
    
    color: var(--purple);
    margin-top: 1rem;
    border-bottom: 1px solid var(--purple);
    
  

}

.container .img h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--purple);
    margin-top: 1rem;
    font-size: 1.2rem;
}

.container .description {
    width: 90%;
    margin: auto;
    color: var(--purple);
    text-align: justify;
    padding: 1rem 1.7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;

    
}

.links{
  max-width: min(112rem, 90%);
  height: 30rem;
  margin: auto;
  margin-top: 2rem;
}

.links .links-social {
    width: 100%;
    height: 5.5rem;
    margin-top: 1.5rem;
    border: 1px solid var(--purple);
    border-radius: 8px;
    display: flex;
    align-items: center;
    
}

.links .links-social a {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    background: var(--purple);
    color: var(--white);
    font-size: 1.3rem;
    border-radius: 6px;
    
}

.links .links-social a:hover {

    background: var(--white);
    color: var(--purple);
    border-radius: 8px;
}

.links .links-social a img {
    width: 3.4rem;
    margin: 0 1.5rem 0 1rem;
}













#text {
    font-size: 1.6rem;
  }



.module{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 1px solid rgba(199, 198, 187, 0.986);
    position: relative;
    position: fixed;
    z-index: -111;
}


.module:nth-child(1n){
    top: 55%;
    left: 10%;
    background-color: rgba(250, 249, 242, 0.171);
}

.module:nth-child(2n){
    left: -1%;
    top: -10%;
    background-color: rgba(209, 210, 224, 0.568);
}

.module:nth-child(3n){
    width: 20rem;
    height: 20rem;
    top: 35%;
    left: 80%;
    background-color: rgba(209, 210, 224, 0.568);
    
}

.module:nth-child(4n) {
    width: 50rem;
    height: 35rem;
    left: 90%;
    background-color: rgba(209, 210, 224, 0.568);
}

.module:nth-child(5n) {
    width: 40rem;
    height: 35rem;
    left: -5%;
    top: 80%;
    background-color: rgba(209, 210, 224, 0.568);
}

.module:nth-child(6n) {
    width: 30rem;
    height: 30rem;
    top: 90%;
    background-color: rgba(209, 210, 224, 0.568);
    border-radius: 50%;
    
}


